<!DOCTYPE html>
<html>
<head>
    <title>This is just a test about angularJS</title>
    <link type="text/css" href="css/bootstrap.css" rel="stylesheet"/>
    <style>
        body {
            margin: auto;
            width: 960px;
        }

        p.hoverable{

        }

        p.hoverable:hover{
            cursor: pointer;
        }

        p.active{
            color:blue;
        }
    </style>
</head>
<body ng-app>

<div class="well"
     ng-controller="ParagraphController">
    <label>Content:</label>
    <div ng-repeat="paragraph in paragraphs" >
        <p class="hoverable"
           ng-click="active(paragraph)"
           ng-class="{'active' : paragraph.id==activePid}">
            {{ paragraph.text }}
        </p>
        <div class="panel panel-default"
             ng-show="paragraph.id == activePid"
             ng-controller="CommentsController">
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item"
                            ng-hide="comments.length"><i>No Comments</i></li>
                    <li class="list-group-item" ng-repeat="comment in comments">
                        {{ comment.text }}
                    </li>
                </ul>
                <form ng-submit="addComment(newComment)">
                    <label> Input:<br>
                        <textarea rows="5" cols="80" ng-model="newComment"></textarea>
                        <input type="submit" class="btn btn-default" value="Submit"/>
                    </label>
                </form>
            </div>
        </div>
    </div>


</div>

<script src="angular.js"></script>
<script src="js/controllers.js"></script>
</body>
</html>