<!DOCTYPE html>
<html>
<head>
    <title>SRPProject</title>
    <link type="text/css" href="css/bootstrap.min.css" rel="stylesheet"/>
    <style>
        body {
            margin-top: 30px;
        }

        p.hoverable {
        }

        p.hoverable:hover {
            cursor: pointer;
        }

        p.active {
            color: blue;
        }

        .login-form{
            padding: 5px;
        }

        .fr{
            float:right;
        }




    </style>
</head>
<body ng-app="srp-app">
<div class="container">
<div class="row">
    <div class="col-md-2"
         ng-controller="SessionController">
        <form class="login-form form-horizontal"
                ng-show="!loggedIn">
            <div class="form-group">
            <input type="text" class="form-control input-sm" placeholder="Email" ng-model="email">

            </div>
            <div
                    ng-show="in_registration">
            <div class="form-group">
                <input type="text" class="form-control input-sm" placeholder="Display Name" ng-model="display_name">
            </div>
            <div class="form-group">
                <input type="text" class="form-control input-sm" placeholder="First Name" ng-model="first_name">
            </div>
            <div class="form-group">
                <input type="text" class="form-control input-sm" placeholder="Last Name" ng-model="last_name">
            </div>
            </div>
            <div class="form-group">
            <input type="password" class="form-control input-sm" placeholder="Password" ng-model="password">
                </div>
            <div class="form-group">
                <button class="btn btn-default"
                        ng-click="login()"
                        ng-show="!in_registration"
                        >Login</button>
                <button class="btn btn-default"
                        ng-click="register()"
                        ng-show="in_registration"
                        >Register</button>
                <button ng-click="toRegister()"  class="btn btn-default"
                        ng-show="!in_registration"
                        >Register</button>
                <button ng-click="toLogin()"  class="btn btn-default"
                        ng-show="in_registration"
                        >Back</button>
            </div>
        </form>
        <div class="panel panel-default"
                ng-show="loggedIn">
            <div class="panel-body">
                Hello, {{ userService.user.display_name }}
            </div>
            <div class="panel-body">
            <button ng-click="logout()" class="btn btn-default">Logout</button>
            </div>
        </div>
    </div>
    <div class="col-md-10">
        <div class="panel panel-default"
             ng-controller="ParagraphController">
            <div class="panel-heading">
                <label>Content:</label>
                <button class="btn btn-default btn-sm fr"
                        ng-click="closeAll()"
                        >Collapse All</button>
                <button class="btn btn-default btn-sm fr"
                        ng-click="activeAll()"
                        >Expand All</button>

            </div>
            <div class="panel-body">
                <div ng-repeat="paragraph in paragraphs">
                    <p class="hoverable"
                       ng-click="toggle(paragraph)"
                       ng-class="{'active' : paragraph.actived}">
                        {{ paragraph.text }}
                    </p>

                    <div class="panel panel-default"
                         ng-show="paragraph.actived"
                         ng-controller="CommentController"
                            >
                        <div class="panel-body">
                            <ul class="list-group">
                                <li class="list-group-item"
                                    ng-hide="comment_list.length"><i>No Comments</i></li>
                                <li class="list-group-item level{{ comment.level }}"
                                    ng-class="{'active' : comment.id == activeComment}"
                                    ng-repeat="comment in comment_list">
                                    <!--<span class="glyphicon glyphicon-chevron-right  glyphicon-chevron-right"-->
                                    <!--ng-repeat="n in [] | range:comment.level*2"></span>-->
                                    <i ng-show="comment.level > 0">Level {{ comment.level }}:</i>
                                    <span ng-click="active(comment)">{{ comment.text }}</span>
                                    <span class="fr">{{ comment.username }}</span>
                                    <div compile-content="(comment.id == activeComment)&&newCommentHtml||''"></div>
                                </li>
                            </ul>
                            <form ng-submit="addComment(newComment)"
                                    ng-hide="true">
                                <label> Input:<br>
                                    <textarea rows="5" cols="80" ng-model="newComment"></textarea>
                                    <input type="submit" class="btn btn-default" value="Submit"/>
                                </label>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script src="angular.js"></script>
<script src="js/main.js"></script>
</body>
</html>